* { 
  background: url(../img/bh.jpg) no-repeat center center fixed; 
  background-size: cover;
}

li {
	list-style: none
}
#app {
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: #493e5c;
	opacity: 0.9;
	text-shadow: 1px 1px 2px white;
	background: none;
	font-size: 550%
}
#comment, #input {
	width: 40%;
	margin: 1% 30%;
	border-radius: 4px;
	border: transparent;
	background: white;
	opacity: 0.85;
	color: black;
	box-shadow: 4px 4px 5px #d21018;

}

#input:focus, #comment:focus {
	
	background: white;
	opacity: 0.7;
	color: #bd1620;
	border: 1px solid black;
	box-shadow: 2px 2px 5px #d21018;
}

#click {
	margin: 2% 45%;
	border-radius: 5px;
	border: transparent;
	background: #493e5c;
	opacity: 0.8;
	color: white;
	box-shadow: 2px 2px 5px white;

}
.list {
	width: 60%;
	margin: 0 20%;
	padding: 1% 0;
	border-radius: 9px;
}

.newP {
	border-bottom: 2px dotted #ddeedd;
	font-family: 'Indie Flower', cursive;
	color: #493e5c;
	font-size: 30px;
	padding-left: 20%;
	opacity: 1 !important;
	font-weight: bolder;
}

.newP>em {
	color: #bd1620;
	text-shadow: none;
}
.newH1 {
	font-size: 20px;
	padding-left: 2%;
	color: #bd1620;
	opacity: 1 !important;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bolder;
}

em {
	color: #bd1620;
	padding-left: 60%;
	font-size: 16px !important;
	font-family: 'Open Sans Condensed', sans-serif;
}
span {
	font-family: sans-serif;
	font-size: 13px;
	text-decoration: underline;
}
#ol {
	background: white;
	opacity: 0.8
}

#li, span, em, .newP, .newH1 {
	background: transparent;
}
#li>#delete {
	opacity: 1 !important;
	margin: 0 85%;
	border-radius: 5px;
	border: transparent;
	background: #493e5c;
	color: white;
	box-shadow: 2px 2px 5px red;
}

.remove {
	display: none
}

